@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Add new client</h3>
<hr>
<br>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <button><input type="submit" value="Add new client" /></button>
}

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active">@Html.ActionLink("Show all clients", "Index")</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">@Html.ActionLink("Home", "Index", "Home")</a>
  </li>
</ul>