@* @{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon!</h1>

<div class="row">
  <div class="col"><p>@Html.ActionLink("See all clients", "Index", "Client")</p> </div>
  <div class="col"><p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p></div>
  <div class="w-100"></div>
  <div class="col"><p>@Html.ActionLink("Search clients", "Search", "Clients")</p></div>
  <div class="col"><p>@Html.ActionLink("Search stylists", "Search", "Stylists")</p></div>
</div> *@


@{
  Layout = "_Layout";
}

<h1>Welcome to the Best Client in Town!</h1>
<p>@Html.ActionLink("See all Client", "Index", "Client")</p> <p>@Html.ActionLink("See all Stylist", "Index", "Stylist")</p>