@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")

<ul class="nav justify-content-center">
    <li class="nav-item">
    <a class="nav-link active">@Html.ActionLink("Back to list", "Index")</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">@Html.ActionLink("Home", "Index", "Home")</a>
  </li>
</ul>